<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "RunMe"
        version = "1.0.0">
  <name>RunME!</name>
  <description>Biegaj razem</description>
  <author href="https://github.com/Coumarinn/BAI" email="Coumarinn@gmail.com"> BAI-projekt </author>
  <content src="index.html" />
  <plugin name="cordova-plugin-whitelist" spec="1" />
  <plugin name="cordova-plugin-device" spec="~1.1.4" />
  <plugin name="cordova-plugin-dialogs" spec="~1.3.1" />
  <plugin name="cordova-plugin-geolocation" version="2.1.0" />
  <!--<plugin name="cordova-universal-links-plugin" spec="^1.2.1" />-->
  <!--<plugin name="cordova-plugin-browsertab" spec="^0.2.0" />-->
  <!--<plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />-->
  <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
	</platform>
    <!--<universal-links>-->
        <!--<host name="sb9x7.app.goo.gl/vhUX" scheme="https" />-->
        <!--<host name="runme-723cc.firebaseapp.com" scheme="https">-->
            <!--<path url="/__/auth/callback"/>-->
        <!--</host>-->
    <!--</universal-links>-->
    <!--<preference name="AndroidLaunchMode" value="singleTask" />-->
</widget>
